.main {
  min-width: 400px;
  max-width: 1024px;
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
}
.preHeader, .warning {
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  background-color: #ee3e35;
  color: #fbb03f;
} 
.warning {
  padding: 5px 10px;
  font-size: 16px;
}
.center {
  text-align: center;
}
.header {
  text-align: center;
  padding: 0 20px;
}

.warning {
  animation: rotation 1.5s infinite linear;
}
@keyframes rotation {
  0% {
      transform: rotate(-3deg);
  }
  25% {
      transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
.side {
  flex: 50%;
  padding: 10px;
  text-align: left;
}

.product {
  cursor: pointer;
}
.price {
  display: block;
}
.product .price {
  margin-top: 5px;
}

.attention {
  color: #ee3e34;
}

.logo {
  margin-bottom: 40px;
}
.divider {
  height: 80px;
}

.oysters, .dogs, .cider, .coffee, .pie, .nalivka, .nonalco, .cesa, .punch, .avoska {
  height: 50px;
  line-height: 50px;
  width: auto;
  font-size: x-large;
  transition-duration: 1s;
  transition-property: transform;
  transform: rotate(4deg);
}
.punch {
  transform: rotate(0deg);
}
.avoska {
  transform: rotate(7deg);
}
.cider {
  transform: rotate(-4deg);
}
.warning {
  margin: 50px 0;
  transform: rotate(2deg);
}
.dogs {
  padding-right: 0;
  transform: rotate(-4deg);
}
.coffee {
  transform: rotate(3deg);
}
.cesa {
  transform: rotate(7deg);
}
.pie {
  transform: rotate(5deg);
}

.oysters, .cider, .pie {
  background-color: #ec3175;
  color: #202f65;
}

.coffee, .nonalco, .cesa {
  background-color: #ee3e35;
  color: #fbb03f;
}

.dogs, .punch, .nalivka {
  background-color: #7ad0e4;
  color: #ec3175;
}

.avoska {
  background-color: #fbb03f;
  color: #202f65;
}
.oystersBlock, .cesaBlock, .dogBlock, .pieBlock, .coffeeBlock, .nalivkaBlock, .ciderBlock, .punchBlock {
  position: relative;
}
.cesaImage {
  float: right;
  position: relative;
  right: -5px;
}

.brioshImage {
  text-align: center;
}
.damn {
  float: right;
}

.miniCart {
  background-color: #fbb03f;
  color: #202f65;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  top: 0px;
  line-height: 50px;
  z-index: 1000;
  display: block;
  height: 0;
  overflow: hidden;

	transition: height 0.5s linear;
}
.miniCart.show.swiped {
  height: 50px;
  transition: height 0.5s linear;
}
.orderWrapper {
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}
.miniCart.show {
  height: auto;
  transition: height 0.5s linear;
}
.rotatedBlock {
  position: absolute;
  z-index: 1;
  width: 120%;
  min-height: 200%;
  background: #ec3175;
  transform: rotate(-45deg);
  left: 50%;
  top: -7%;
}
.orderProduct {
  font-size: 16px;
  line-height: 16px;
  margin: 12px 0;
}

.pay {
  font-family: 'Source Code Pro', monospace;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #202f65;
  cursor: pointer;
}
.pay:hover, .pay:active, .pay:focus {
  background-color: #ec3175;
  transition:  background-color 0.3s ease-in;
  outline: none;
}

.paymentBlock {
  margin-bottom: 20px;
}
.cross {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 10px;
  cursor: pointer;
}